// страница создания обращения
.form-group
    input#lat(ng-hide="invisible", type="text", name='latitude', ng-model="form.latitude")
    input#lng(ng-hide="invisible", type="text", name='longitude', ng-model="form.longitude")
.form-group
    h2 {{form.name}}
.form-group
    label(for='title') заголовок:
    input.form-control(ng-model='form.title', name='title', ng-required="true", placeholder="введите заголовок обращения")
.form-group
    label(for='address') адрес:
    input.form-control(ng-model='form.address', name='address', ng-required="true", placeholder="переместите метку на карте для автоматического заполнения")
.form-group
    label(for="category") Категория
    select.form-control(name="category", ng-model="category", ng-required="true", ng-options="c as c.name for c in categories track by c.id")
.form-group
    #YMapsID.col-md-10
        ya-map(ya-zoom="17", ya-center="{{map.center}}", ya-before-init="beforeInit()")
            ya-geo-object(ya-source='map.point', ya-options="{draggable:true}", ya-event-dragend="dragEnd($event)")
    #RightBox.col-md-2
        .row
            .col-md-6(style="padding: 2px 2px 2px 2px", ng-repeat="image in form.images" )
                img.img-thumbnail(src="uploads/thumbs/{{image}}", style="width: 100%")
        //- .row(style="padding: 5px 5px 0 5px", ng-show="form.images.length > 3")
        //-     p(align="center") Можно загрузить не более 4-х изображений. Удалить изображение можно нажав правую кнопку мыши на нём.
        .row(style="padding: 5px 5px 0 5px")
            //- , ng-show="form.images.length < 4")
            //- button.btn.btn-info.form-control загрузить изображение
            button.btn.btn-info.form-control(type="file", ngf-select="uploadFiles($file, $invalidFiles)",
                accept="image/*", ngf-max-size="2MB")  загрузить изображение

.form-group
    label(for='description') описание:
    textarea.form-control(ng-model='form.description', rows='5', ng-required="true")
.form-group
    p
      button.btn.btn-primary.form-control(ng-click='submit()') Сохранить
