.jumborton
    form.tab-form-admin(name="outerForm")
        uib-tabset(active="activeForm")
            uib-tab(index="0")
                uib-tab-heading
                    | глобальные настройки
                ng-form(name="nestedForm")
                    .form-group(style="margin-top: 5px; overflow-y: scroll; height: 400px")
            uib-tab(index="1")
                uib-tab-heading
                    | пользователи
                ng-form(name="profileForm")
                    .form-group(style="margin-top: 5px; overflow-y: scroll; height: 400px")
                        uib-accordion(close-others="true")
                            div.panel-info(uib-accordion-group, heading="{{user.name}}", ng-repeat="user in users")
                                .form-group
                                    label фамилия:
                                    input.form-control(type="text", required, ng-model="user.lastName")
                                .form-group
                                    label имя:
                                    input.form-control(type="text", required, ng-model="user.firstName")
                                .form-group
                                    label отчество:
                                    input.form-control(type="text", required, ng-model="user.middleName")
                                .form-group
                                    label электронная почта:
                                    input.form-control(type="text", required, ng-model="user.email")
                                .form-group
                                    label группа:
                                    select.form-control(name="user.group", ng-model="user.group", required, ng-options="ug as ug.name for ug in users_group track by ug.id")
            uib-tab(index="2")
                uib-tab-heading
                    | категории обращений
                ng-form(name="profileForm")
                    .form-group(style="margin-top: 5px; overflow-y: scroll; height: 400px")
                        uib-accordion(close-others="true")
                            div.panel-info(uib-accordion-group, heading="{{category.name}}", ng-repeat="category in categories")
                                .form-group
                                    label наименование категории:
                                    input.form-control(type="text", required, ng-model="category.name")
                                .form-group
                                    label наименование органа власти:
                                    select.form-control(name="goverment", ng-model="category.goverment", required, ng-options="g as g.name for g in goverments track by g._id")
            uib-tab(index="3")
                uib-tab-heading
                    | органы власти
                ng-form(name="profileForm")
                    .form-group(style="margin-top: 5px; overflow-y: scroll; height: 400px")
                        uib-accordion(close-others="true")
                            div.panel-info(uib-accordion-group, heading="{{goverment.name}}", ng-repeat="goverment in goverments")
                                .form-group
                                    label наименование органа власти:
                                    input.form-control(type="text", required, ng-model="goverment.name")
                                .form-group
                                    label ответственное лицо:
                                    select.form-control(name="user", ng-model="goverment.worker", required, ng-options="u as u.name for u in users track by u._id")
