.row
  | &nbsp
.form-group(ng-init="iStatus={status:1}")
  #YMapsID.tb-tooltip(title="Создайте новое обращение указав на карте географическое положение (щёлкнуть левой кнопкой 'мыши').")
    ya-map(ya-zoom="12", ya-event-click="mapClick($event)")
      ya-cluster
        ya-geo-object(ng-repeat="document in filterDocuments =(documents | filter:query | filter:iStatus) | startFrom:currentPage*pageSize | limitTo:pageSize", ya-source='document.geoObject')

  //- #RightBox.col-md-4
  //-   .row
  //-     .col-md-8(style="height: 300px")
  //-         //- .form-group
  //-     .col-md-4
  //-         img.banner(src="/img/grad.png", style="margin-top: 40px;")
  //-   .row
  //-       .col-md-6
  //-           a(href="http://stavregion.ru/")
  //-               img.banner(src="/img/stavregion.png")
  //-       .col-md-6
  //-           a(href="http://gosuslugi.ru/")
  //-               img.banner(src="/img/1458628577.jpg")
  //-   .row
  //-       .col-md-6
  //-           a(href="http://26gosuslugi.ru/")
  //-               img.banner(src="/img/26gosuslugi.jpg")
  //-       .col-md-6
  //-           a(href="http://umfc26.ru/")
  //-               img.banner(src="/img/mfc.png")
  //- .row(style="background-color: #CCCCCC; font-color: #000")
.row
// фильтр
.form-group(style="background-color: #F7F1D9; font-color: #000")
  ul.nav.nav-pills
    //фильтр по статусу
    .col-sm-2(style="margin: 0; padding: 0;")
      .btn-group.btn-group-justified(uib-dropdown, dropdown-append-to-body)
        #btn-append-to-body.button.btn.btn-info(type="button", uib-dropdown-toggle) Статус обращения
          span.caret
        ul.dropdown-menu(uib-dropdown-menu, role="menu", aria-labelledby="btn-append-to-body")
          li(role="menuitem")
            a(href="#", ng-click="iStatus={status:0}") Новое
          li(role="menuitem")
            a(href="#", ng-click="iStatus={status:1}") В работе
          li(role="menuitem")
            a(href="#", ng-click="iStatus={status:2}") Закрыто
          li.divider
          li(role="menuitem")
            a(href="#", ng-click="iStatus={}") Все
    // фильтр по категории
    .col-sm-2(style="margin: 0; padding: 0;")
      .btn-group.btn-group-justified(uib-dropdown, dropdown-append-to-body)
        #btn-append-to-body.button.btn.btn-info(type="button", uib-dropdown-toggle) Категория
          span.caret
        ul.dropdown-menu(style="overflow-y: scroll; max-height: 200px", uib-dropdown-menu, role="menu", aria-labelledby="btn-append-to-body")
          li(role="menuitem", ng-repeat="category in categories")
            a(href="#") {{category.name | limitTo: 55}}
    // фильтр по дате
    .col-sm-2(style="margin: 0; padding: 0;")
      .btn-group.btn-group-justified(uib-dropdown, dropdown-append-to-body)
        #btn-append-to-body.button.btn.btn-info(type="button", uib-dropdown-toggle) По дате
          span.caret
        ul.dropdown-menu(uib-dropdown-menu, role="menu", aria-labelledby="btn-append-to-body")
          //- li(role="menuitem")
          input.form-control(id="iDatafilter", name="idatafilter", type="text", ng-model="dataFrom", placeholder="строка поиска...")
    // test button
    .col-sm-2(style="margin: 0; padding: 0;")
      .btn-group.btn-group-justified(uib-dropdown, dropdown-append-to-body)
        #btn-append-to-body.button.btn.btn-info(type="button", uib-dropdown-toggle, ng-click="doDialog()") Add Alert
    // фильтр поиска в обращениях
    .col-sm-2(style="margin: 0 0 0 4px; padding: 0; float: right;")
        input.form-control(uib-dropdown-search,id="ifilter", name="ifilter", type="text", ng-model="query", placeholder="строка поиска...")
   //-  ul.filter-menu
   //-    a(ng-click="query=''", style="cursor: pointer;") СБРОСИТЬ ФИЛЬТР

// список обращений
.row
.form-group(style="margin-top: 5px; overflow-y: scroll; height: 400px")
    div(ng-repeat='document in filterDocuments | startFrom:currentPage*pageSize | limitTo:pageSize | filter:query')
      .panel(ng-class="{ 'panel-success': document.status == 2, 'panel-info': document.status == 1, 'panel-warning': document.status == 0 }")
        .panel-heading
            strong
              a(href='readDocument/{{ document.id }}', id='{{ document.id }}') {{ document.title }}
        .panel-body
            .col-sm-2
              | создан: {{document.datestamp | date}} &nbsp
              | автор: {{document.name}} &nbsp
              p
                span.label.label-default статус: {{document.astatus}}
            .col-sm-10
              p адрес: {{document.address}}
              p {{document.description}}
              a(href='editDocument/{{document.id}}') Edit
        //- .panel-footer
        //-     span.label.label-default создан: {{document.datestamp | date}} &nbsp автор: {{document.name}}
.row
.form-group
  .btn-group.btn-group-justified
    .btn-group
      button.btn.btn-info(ng-disabled="currentPage == 0", ng-click="currentPage=currentPage-1") Назад
    .btn-group
      button.btn.btn-default(disabled="disabled") {{currentPage+1}}/{{numberOfPages()}}
    .btn-group
      button.btn.btn-info(ng-disabled="currentPage >= filterDocuments.length/pageSize - 1", ng-click="currentPage=currentPage+1") Вперед

.form-group
  p Всего документов: {{filterDocuments.length}}
