.row
  | &nbsp
.form-group
  #YMapsID
    ya-map(ya-zoom="12", ya-center="[41.970001, 45.050922]", ya-event-click="mapClick($event)")
      ya-geo-object(ng-repeat="document in documents | startFrom:currentPage*pageSize | limitTo:pageSize", ya-source='document.geoObject')

  //- #YMapsID(ng-init="center=[45.050922, 41.970001];zoom=12")
  //-     yandex-map(zoom="zoom")
  //-       ymap-marker(ng-repeat="document in documents | startFrom:currentPage*pageSize | limitTo:pageSize",
  //-                   properties="{balloonContent: document.title }",
  //-                   coordinates='[document.longitude, document.latitude]')
          //- ymap-marker(coordinates="map.coords")
  //- #RightBox.col-md-4
  //-   .row
  //-     .col-md-8(style="height: 300px")
  //-         //- .form-group
  //-     .col-md-4
  //-         img.banner(src="/img/grad.png", style="margin-top: 40px;")
  //-   .row
  //-       .col-md-6
  //-           a(href="http://stavregion.ru/")
  //-               img.banner(src="/img/stavregion.png")
  //-       .col-md-6
  //-           a(href="http://gosuslugi.ru/")
  //-               img.banner(src="/img/1458628577.jpg")
  //-   .row
  //-       .col-md-6
  //-           a(href="http://26gosuslugi.ru/")
  //-               img.banner(src="/img/26gosuslugi.jpg")
  //-       .col-md-6
  //-           a(href="http://umfc26.ru/")
  //-               img.banner(src="/img/mfc.png")
.row
.form-group
  p Всего документов {{documents.length}}
.form-group(style="margin-top: 15px; overflow-y: scroll; height: 400px")
    div(ng-repeat='document in documents | startFrom:currentPage*pageSize | limitTo:pageSize')
      .panel(ng-class="{ 'panel-success': document.status == 2, 'panel-info': document.status == 1, 'panel-warning': document.status == 0 }")
        .panel-heading
            a(href='readDocument/{{ document.id }}', id='{{ document.id }}') {{ document.title }}
        .panel-body
            p адрес: {{document.address}}
            p {{document.description}}
            a(href='editDocument/{{document.id}}') Edit
        .panel-footer
            span.label.label-default создан: {{document.datestamp | date}} &nbsp автор: {{document.name}}
.row
.form-group
  div(ng-repeat='post in posts | startFrom:currentPage*pageSize | limitTo:pageSize')
    | {{post.description}}
.form-group
  .btn-group.btn-group-justified
    .btn-group
      button.btn.btn-info(ng-disabled="currentPage == 0", ng-click="currentPage=currentPage-1") Назад
    .btn-group
      button.btn.btn-default(disabled="disabled") {{currentPage+1}}/{{numberOfPages()}}
    .btn-group
      button.btn.btn-info(ng-disabled="currentPage >= documents.length/pageSize - 1", ng-click="currentPage=currentPage+1") Вперед
//- a(href='readDocument/{{document.id}}') More
//- |  -
//- a(href='editDocument/{{document.id}}') Edit
//- |  -
//- a(href='deleteDocument/{{document.id}}') Delete
