.form-group
    h2 {{document.name}}
.form-group
    span.label.label-info
        | обращение создано {{document.datestamp  | date}}
.form-group
    label(for='title') заголовок:
    input.form-control(readonly="readonly", name='title', value='{{document.title}}')
.form-group
    label(for='address') адрес:
    input.form-control(readonly="readonly", value='{{document.address}}', name='address')
.form-group
    label(for='category') категория:
    input.form-control(readonly="readonly", ng-model='category.name', name='category')
//- .form-group(ng-if="noImage")
//-     #YMapsID.col-md-12
//-         ya-map(ya-zoom="17", ya-center="{{map.center}}")
//-             //- ya-map(ya-center="map.center", ya-zoom="map.zoom")
//-             ya-geo-object(ng-model='map.point', ya-source='map.point')
.form-group
    //-(ng-if="Image")
    #YMapsID.col-md-10
        ya-map(ya-zoom="17", ya-center="{{map.center}}")
            //- ya-map(ya-center="map.center", ya-zoom="map.zoom")
            ya-geo-object(ng-model='map.point', ya-source='map.point')
    #RightBox.col-md-2
        .row
            .col-md-6(style="padding: 2px 2px 2px 2px", ng-repeat="image in document.images" )
                img.img-thumbnail(src="uploads/thumbs/{{image}}", style="width: 100%", ng-click='showImage($index)')

.form-group
    label(for='description') описание:
    textarea.form-control(readonly="readonly", rows='5') {{document.description}}
.form-group(ng-if='showWorkPanel')
    .form-group
      .btn-group.btn-group-justified
        .btn-group
          button.btn.btn-success(ng-if="document.status == 0", ng-click='commitDocument()') Принять в работу
          button.btn.btn-success(ng-if="document.status == 1", ng-click='closeDocument()') Закрыть обращение
          button.btn.btn-success(ng-if="document.status == 2", ng-click='uncloseDocument()') Отменить закрытие
        //- .btn-group
        //-   button.btn.btn-danger(ng-disabled="document.status > 1") Отклонить обращение
        .btn-group
          button.btn.btn-primary(ng-click='closeWindow()') Выйти
.form-group(ng-if='!showWorkPanel')
    p
        button.btn.btn-primary.form-control(ng-click='closeWindow()') Закрыть
.form-group
    p
        button.btn.btn-default.form-control(ng-disabled="document.status > 1", ng-click='showDialog()') Добавить комментарий
.form-group
    div(ng-repeat='comment in document._comments')
       p {{comment.comment}}