extends layout

block body
  div.container
    a(href="/documents")
        img.hd(src='img/hd.jpg', title='на главную страницу')
    <!-- HEADER -->
    .navbar.navbar-default
      ul.nav.navbar-nav
        li
          a(href="/") главная
        li
          a(href="/personalArea") личный кабинет
        li
          a(href='/adminPanel') администрирование
        li
          a(href='/login') вход через ЕСИА
    div(ng-view)
    img.hd(src="img/footer.jpg")
  script(src='libs/angular/angular.min.js')
  script(src='libs/angular-locale/locale-ru-ru.js')
  script(src='libs/angular-route/angular-route.min.js')
  script(src='libs/angular-resource/angular-resource.min.js')
  script(src='libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
  //- script(src="libs/angular-bootstrap/ui-bootstrap.min.js")
  script(src='libs/ng-file-upload/ng-file-upload-shim.min.js')
  script(src='libs/ng-file-upload/ng-file-upload.min.js')
  script(src='libs/ya-map/ya-map-2.1.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/components.js')

