extends layout
block body
  script(type="text/ng-template", id="addComment.html", name="addComment.html")
    .modal-header
      h3.modal-title {{modalOptions.headerText}}
    .modal-body(id="modal-body")
      textarea.form-control(name="comment.body", ng-model="comment.body", rows="5")
    .modal-footer
      button.btn(type="button", ng-click="modalOptions.close()") {{modalOptions.closeButtonText}}
      button.btn.btn-primary(ng-click="modalOptions.ok(comment.body)") {{modalOptions.actionButtonText}}
  script(type="text/ng-template", id="showPhoto.html", name="showPhoto.html")
    .modal-header
      h3.modal-title {{modalOptions.headerText}}
    .modal-body(id="modal-body")
      //- img(src='uploads/_qzco77kxi')
      img.img-thumbnail(src='{{modalOptions.image}}', style="width: 100%")
    .modal-footer
      button.btn(type="button", ng-click="modalOptions.close()") {{modalOptions.closeButtonText}}
      //- button.btn.btn-primary(ng-click="modalOptions.ok(comment.body)") {{modalOptions.actionButtonText}}
  div.container.workarround
    a(href="/")
        img.hd(src='img/hd.jpg', title='на главную страницу')
    <!-- HEADER -->
    // меню навигации
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // бренд
          a.navbar-brand(href='/') НАРОДНЫЙ КОНТРОЛЬ
            //- img(src='img/26.ico')
        // само меню
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') главная
            li(ng-if='isAuthorized')
              a(href='/personalArea') {{currentUser.name}}
                //- div.name
                //-   p {{currentUser.name}}
                //-   span.label.label-info личный кабинет
            li(ng-if='isAdmin')
              a(href='/adminPanel') администрирование
            li(ng-if='isAuthorized')
              //- a(href="/logout") выход
              a(href='javascript: document.location.href=\'/SingleLogout\';') выход
            li(ng-if='!isAuthorized')
              //- a(href="/login") вход
              a(href='javascript: document.location.href=\'/login\';') вход
    div(ng-view)
    img.hd(src='img/footer.jpg')
  // -------------------- END -----------------------------------------------------------------------------
  script(src='libs/angular/angular.min.js')
  script(src='libs/angular-locale/locale-ru-ru.js')
  script(src='libs/angular-route/angular-route.min.js')
  script(src='libs/angular-resource/angular-resource.min.js')
  script(src='libs/angular-cookies/angular-cookies.min.js')
  script(src='libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src='libs/ng-file-upload/ng-file-upload-shim.min.js')
  script(src='libs/ng-file-upload/ng-file-upload.min.js')
  script(src='libs/ya-map/ya-map-2.1.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/components.js')

