doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- meta(http-equiv="cache-control", content="no-cache")
    //- meta(http-equiv="expires", content="0")
    meta(name="google-site-verification", content="N3L_5Um7112KgQO8W7nDq3sm-SJEt3zDi8ohDr00rAs")
    meta(name="yandex-verification", content="101f3bb4323f7d7f")
    base(href='/')
    title Народный контроль СК
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='libs/angular-ui-grid/ui-grid.min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    block body
