doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="yandex-verification", content="101f3bb4323f7d7f")
    base(href='/')
    title Народный контроль СК
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Exo+2&subset=latin,latin-ext,cyrillic,cyrillic-ext')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,latin-ext,cyrillic,cyrillic-ext')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rajdhani:300,500,700&subset=latin,latin-ext,cyrillic,cyrillic-ext')
  body
    block body
