doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="yandex-verification", content="101f3bb4323f7d7f")
    base(href='/')
    title Народный контроль СК
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='libs/angular-ui-grid/ui-grid.min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    block body
